[submodule ".git-npm/chalk/3.0.0"]
	path = .git-npm/chalk/3.0.0
	url = https://github.com/christianbundy/git-npm.git
	branch = git-npm/chalk/3.0.0
[submodule ".git-npm/pull-stream/3.6.14"]
	path = .git-npm/pull-stream/3.6.14
	url = git://github.com/pull-stream/pull-stream.git
[submodule ".git-npm/ansi-styles/4.1.0"]
	path = .git-npm/ansi-styles/4.1.0
	url = https://github.com/chalk/ansi-styles.git
[submodule ".git-npm/supports-color/7.1.0"]
	path = .git-npm/supports-color/7.1.0
	url = https://github.com/chalk/supports-color.git
[submodule ".git-npm/color-convert/2.0.1"]
	path = .git-npm/color-convert/2.0.1
	url = https://github.com/Qix-/color-convert.git
[submodule ".git-npm/has-flag/4.0.0"]
	path = .git-npm/has-flag/4.0.0
	url = https://github.com/sindresorhus/has-flag.git
[submodule ".git-npm/color-name/1.1.4"]
	path = .git-npm/color-name/1.1.4
	url = ssh://git@github.com/colorjs/color-name.git
[submodule ".git-npm/debug/4.1.1"]
	path = .git-npm/debug/4.1.1
	url = git://github.com/visionmedia/debug.git
[submodule ".git-npm/yargs/15.1.0"]
	path = .git-npm/yargs/15.1.0
	url = https://github.com/yargs/yargs.git
[submodule ".git-npm/mkdirp/0.5.1"]
	path = .git-npm/mkdirp/0.5.1
	url = https://github.com/substack/node-mkdirp.git
[submodule ".git-npm/ms/2.1.1"]
	path = .git-npm/ms/2.1.1
	url = https://github.com/zeit/ms.git
[submodule ".git-npm/cliui/6.0.0"]
	path = .git-npm/cliui/6.0.0
	url = ssh://git@github.com/yargs/cliui.git
[submodule ".git-npm/decamelize/1.2.0"]
	path = .git-npm/decamelize/1.2.0
	url = https://github.com/sindresorhus/decamelize.git
[submodule ".git-npm/find-up/4.1.0"]
	path = .git-npm/find-up/4.1.0
	url = https://github.com/sindresorhus/find-up.git
[submodule ".git-npm/get-caller-file/2.0.1"]
	path = .git-npm/get-caller-file/2.0.1
	url = https://github.com/stefanpenner/get-caller-file.git
[submodule ".git-npm/require-directory/2.1.1"]
	path = .git-npm/require-directory/2.1.1
	url = git://github.com/troygoode/node-require-directory.git
[submodule ".git-npm/require-main-filename/2.0.0"]
	path = .git-npm/require-main-filename/2.0.0
	url = ssh://git@github.com/yargs/require-main-filename.git
[submodule ".git-npm/set-blocking/2.0.0"]
	path = .git-npm/set-blocking/2.0.0
	url = https://github.com/yargs/set-blocking.git
[submodule ".git-npm/string-width/4.2.0"]
	path = .git-npm/string-width/4.2.0
	url = https://github.com/sindresorhus/string-width.git
[submodule ".git-npm/which-module/2.0.0"]
	path = .git-npm/which-module/2.0.0
	url = https://github.com/nexdrew/which-module.git
[submodule ".git-npm/y18n/4.0.0"]
	path = .git-npm/y18n/4.0.0
	url = ssh://git@github.com/yargs/y18n.git
[submodule ".git-npm/yargs-parser/16.1.0"]
	path = .git-npm/yargs-parser/16.1.0
	url = ssh://git@github.com/yargs/yargs-parser.git
[submodule ".git-npm/minimist/0.0.8"]
	path = .git-npm/minimist/0.0.8
	url = git://github.com/substack/minimist.git
[submodule ".git-npm/strip-ansi/6.0.0"]
	path = .git-npm/strip-ansi/6.0.0
	url = https://github.com/chalk/strip-ansi.git
[submodule ".git-npm/wrap-ansi/6.2.0"]
	path = .git-npm/wrap-ansi/6.2.0
	url = https://github.com/chalk/wrap-ansi.git
[submodule ".git-npm/locate-path/5.0.0"]
	path = .git-npm/locate-path/5.0.0
	url = https://github.com/sindresorhus/locate-path.git
[submodule ".git-npm/path-exists/4.0.0"]
	path = .git-npm/path-exists/4.0.0
	url = https://github.com/sindresorhus/path-exists.git
[submodule ".git-npm/emoji-regex/8.0.0"]
	path = .git-npm/emoji-regex/8.0.0
	url = https://github.com/mathiasbynens/emoji-regex.git
[submodule ".git-npm/is-fullwidth-code-point/3.0.0"]
	path = .git-npm/is-fullwidth-code-point/3.0.0
	url = https://github.com/sindresorhus/is-fullwidth-code-point.git
[submodule ".git-npm/camelcase/5.0.0"]
	path = .git-npm/camelcase/5.0.0
	url = https://github.com/sindresorhus/camelcase.git
[submodule ".git-npm/ansi-regex/5.0.0"]
	path = .git-npm/ansi-regex/5.0.0
	url = https://github.com/chalk/ansi-regex.git
[submodule ".git-npm/ansi-styles/4.0.0"]
	path = .git-npm/ansi-styles/4.0.0
	url = https://github.com/chalk/ansi-styles.git
[submodule ".git-npm/string-width/4.1.0"]
	path = .git-npm/string-width/4.1.0
	url = https://github.com/sindresorhus/string-width.git
[submodule ".git-npm/p-locate/4.1.0"]
	path = .git-npm/p-locate/4.1.0
	url = https://github.com/sindresorhus/p-locate.git
[submodule ".git-npm/color-convert/2.0.0"]
	path = .git-npm/color-convert/2.0.0
	url = https://github.com/Qix-/color-convert.git
[submodule ".git-npm/strip-ansi/5.2.0"]
	path = .git-npm/strip-ansi/5.2.0
	url = https://github.com/chalk/strip-ansi.git
[submodule ".git-npm/p-limit/2.2.0"]
	path = .git-npm/p-limit/2.2.0
	url = https://github.com/sindresorhus/p-limit.git
[submodule ".git-npm/ansi-regex/4.1.0"]
	path = .git-npm/ansi-regex/4.1.0
	url = https://github.com/chalk/ansi-regex.git
[submodule ".git-npm/p-try/2.0.0"]
	path = .git-npm/p-try/2.0.0
	url = https://github.com/sindresorhus/p-try.git
